<!DOCTYPE html>
<html>
<head>
    {%set fulltitle = 'Românești.ro - Cumpără Românește'%}
    {% include 'part/head.twig' %}
</head>
<body>
    <div class="header st1 bg-3">
        <div class="headerin">
            {% include 'part/top.twig' %}
            <div class="hcont">
                <img src="/assets/img/ui/logo1.png" alt="" class="biglogo">
                <h2>În curând...</h2>
                <h3>Caută cele mai cunoscute lanțuri de magazine românești</h3>
            </div>
        </div>
    </div>
    {% include 'part/footer.twig' %}
    {% include 'part/scripts.twig' %}
</body>
</html>
