<!DOCTYPE html>
<html>
<head>
    {%set fulltitle = 'Românești.ro - Cumpără Românește'%}
    {% include 'part/head.twig' %}
</head>
<body>
    <div class="header st2">
        <div class="headerin">
            {% include 'part/top.twig' %}
            <div class="hcont">
                <h2>Iubești România? Cumpără românește</h2>
                <h3>Sprijină-ți concetățenii și economia țării cumpărând românește. :)</h3>
                <form action="#" class="headerform" id="search_oras_form">
                    <div class="in2">
                        <input id="search_oras_input" class="input1" type="text" placeholder="Scrie numele orașului...">
                        <a href="#" class="btn1 longer">Caută orașul</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'part/footer.twig' %}
    {% include 'part/scripts.twig' %}
</body>
</html>
